<div class="panel">
  <h3><%= "Invite users to this project" %></h3>
  <div class="panel-contents">
    <%= form_for resource, url: { action: "invite_user" }, method: :post do |f| %>
        <label>Please enter comma separated email</label><br>
        <%= text_field_tag :emails, '', style: 'width: 300px'%><br><br>
        <label><%= check_box_tag :is_admin %>Is admin?</label><br><br>
        <%= f.submit 'Send Invitation' %>
    <% end %>
  </div>
</div>