<%- if !@photos.blank? %>
    <div class="rslides_container">
      <ul class="rslides" id="slider1" style="height:700px;width:340px">
      <%- @photos.each do |p| %>
          <%- if p.file && p.file.url %>
          <div>

              <b style="color:red"> [Taken On- <%= p.created_at.strftime('%v') rescue nil %>]</b>
              <b style="color:green"> [Type- <%= p.imageable_sub_type.capitalize rescue nil %>]</b>
              <b style="color:blue"> [Sample- <%= p.imageable.sub_category.name.capitalize rescue nil %>]</b>
              <b style="color:violet"> [Health Score- <%= p.imageable.health_score %>] </b>
              <b style="color:brown">[Live Life Cover- <%= p.imageable.live_leaf_cover %>]</b>
            <b style="color:dodgerblue"> [Live Branch Stem- <%= p.imageable.live_branch_stem %>]</b>
                <b>[Die Back- <%= p.imageable.dieback %>]</b>

            <%= image_tag(p.file.url) %>
          </div>
          <% end %>
      <% end %>
      </ul>
    </div>
    <script>
        jQuery(document).ready(function ($) {
            $("#slider1").responsiveSlides({
                auto: false,
                pager: false,
                nav: true,
                speed: 500,
                maxwidth: 600,
                namespace: "centered-btns"
            });
        });
    </script>
<%- else %>
    Perform search before trying to view full scale images.
<% end %>